:root {
    --primary-clr: #435ebe;
    --body-clr: #151521;
    --text-clr: #c2c2d9;
    --red-clr: #ff7976;
    --green-clr: #5ddab4;
    --blue-clr: #57caeb;
    --purple-clr: #9694ff;
    --secondary-clr: rgba(222, 226, 230, 0.75);
    --title-clr: #9899ac;
    --icon-clr: #7c8db5;
    --container-clr: #1e1e2d;
    --toggle-theme-bg: #435ebe;
    --toggle-theme-border: #435ebe;
    --border-clr: #393b42;
    --toggle-theme-border-default: #a1afdf;
    --shadow-clr: rgba(67, 94, 190, 0.25);
}

.light:root {
    --primary-clr: #435ebe;
    --body-clr: #f2f7ff;
    --text-clr: #607080;
    --red-clr: #ff7976;
    --green-clr: #5ddab4;
    --blue-clr: #57caeb;
    --purple-clr: #9694ff;
    --secondary-clr: rgba(96, 112, 128, 0.75);
    --title-clr: #25396f;
    --icon-clr: #7c8db5;
    --container-clr: #fff;
    --toggle-theme-bg: #fff;
    --toggle-theme-border: #a1afdf;
    --border-clr: #e1e3ea;
    --toggle-theme-border-default: #a1afdf;
    --shadow-clr: rgba(67, 94, 190, 0.25);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* =========== SIDEBAR =============== */
#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    .logo {
        font-weight: 600;
    }
}

#sidebar ul li.active a {
    color: var(--primary-clr);

    svg {
        fill: var(--primary-clr);
    }
}

#sidebar a,
#sidebar .dropdown__btn,
#sidebar .logo {
    border-radius: 0.5em;
    padding: 0.85em;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown__btn {
    font: inherit;
}

#sidebar svg {
    fill: var(--primary-clr);
}

#sidebar a span,
#sidebar .dropdown__btn span {
    flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown__btn:hover {
    background-color: var(--primary-clr);

    span {
        color: var(--text-clr);
    }
    svg {
        fill: var(--text-clr);
    }
}

.show {
    grid-template-rows: 1fr;
}
.rotate svg:last-child {
    rotate: -180deg;
}

#toggle-btn {
    border: none;
    background: none;

    svg {
        transition: rotate 150ms ease;
    }
}

#sidebar.close {
    padding-inline: 0;
    padding-block: 5px;
    width: 50px;

    #toggle-btn {
        padding-inline: 0.8em;
        padding-block: 1em;
    }
}

#toggle-btn:hover {
    background: var(--primary-clr);
    svg {
        fill: var(--text-clr);
    }
}
/* #sidebar .sub__menu .show {
    grid-template-rows: 1fr;
} */
/* 
#sidebar {
    transition: all 300ms ease-in-out;
}


 */

/*=============== BREAKPOINTS  ============== */
/* Medium device */
/* @media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }
    main {
        padding: 2em 1em 60px 1em;
    }
    #sidebar {
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;

        > ul {
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow-x: scroll;
        }
        ul li {
            height: 100%;
        }
        ul a,
        ul .dropdown__btn {
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }

        ul li span,
        ul li:first-child,
        .dropdown__btn i:last-child {
            display: none;
        }

        ul li .sub__menu.show {
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background-color: var(--hover-clr);
            border-top: 1px solid var(--line-clr);
            display: flex;
            justify-content: center;

            > div {
                overflow-x: auto;
            }
            li {
                display: inline-flex;
            }
            a {
                box-sizing: border-box;
                padding: 1em;
                width: auto;
                justify-content: center;
            }
        }
    }
} */
